.button {
    background-color: #008CBA;
    border: none;
    color: rgb(0, 0, 0);
    padding: 5px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px;
  }


  .button2 {
    background-color: #008CBA;
    border: none;
    color: rgb(0, 0, 0);
    padding: 5px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px;
  }

  body {
    font-family: Arial;

    background: #d4d107;
  }

  .header {
    padding: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background: skyblue;
  }

  .header h1 {
    font-size: 30px;
  }

  .reg {
    padding: 2px;
    text-align: left;
    background: skyblue;
    font-family: 'Times New Roman', Times, serif;
  }

  .header h2 {
    font-size: 20px;
  }

  

  .topnav {
    overflow: hidden;
    background-color: blueviolet;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
